
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D6F8E2;
}

.register-box {
    background-color: white;
    padding: 40px;
    max-width: 646px;
    width: 100%;
    max-height: 583px;
}

.register-box h2 {
    color: #4CB04F;
    font-size: 28px;
    margin-bottom: 24px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.register-button {
    width: 100%;
    background-color: #4CB04F;
    color: white; 
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center
}

.register-button a {
    color: white; 
    text-decoration: none; 
    display: block; 
}

.register-button:hover {
    background-color: #4CB04F;
}


.login-text {
    margin-top: 20px;
    font-size: 16px;
    color: #808080;
}

.login-link {
    color: #4CB04F;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}
