.sidebar {
  display: flex;
  flex-direction: column;
  width: 193px;
  height: 426px;
  margin-left: 0;
  color: #4c704d;
  font: 600 16px Literata, sans-serif;
}
.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 28px 0 11px;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border-radius: 100px;
  background: lightgray 50% / cover no-repeat;
}

.user-name {
  margin-top: 10px;
  color: #4c704d;
  font-family: Literata;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.profile-nav {
  display: flex;
  flex-direction: column;
}

.nav-title {
  font-size: 20px;
  margin-bottom: 8px;
  margin-top: 20px;
  color: #4c704d;
  font-family: Literata;.sidebar {
  display: flex;
  flex-direction: column;
  width: 193px;
  height: 426px;
  margin-left: 0;
  color: #4c704d;
  font: 600 16px Literata, sans-serif;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 28px 0 11px;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  background: lightgray 50% / cover no-repeat;
}

.user-name {
  margin-top: 10px;
  color: #4c704d;
  font-family: Literata;
  font-size: 16px;
  font-weight: 600;
}

.profile-nav {
  display: flex;
  flex-direction: column;
}

.nav-title {
  font-size: 20px;
  margin-bottom: 8px;
  margin-top: 20px;
  color: #4c704d;
  font-family: Literata;
  font-weight: 600;
  cursor:pointer;
}

.nav-title:hover{
  color: #13a5d6;
  transform: scale(1.2);
}

.nav-title:active{
  color: #13d620;
  transform: scale(1.2);
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 0px;
}

.nav-link {
  display: block;
  color: #4c704d;
  text-decoration: none;
  font-weight: 400;
  margin-top: 16px;
}

.nav-link:hover{
  color: #13a5d6;
  transform: scale(1.2);
}

.nav-link:active{
  color: #13d620;
  transform: scale(1.2);
}

.manage{
  margin-top: 16px;
  color: #4c704d;
  font-family: Literata;
  font-size: 20px;
  font-weight: 600;
}

.logout {
  margin-top: 30px;
  color: #4c704d;
  font-family: Literata;
  font-size: 20px;
  font-weight: 600;
}

/* Ẩn nav-list trên màn hình nhỏ */

@media (max-width: 700px) {
  .hidden {
    display: none;
  }
  .sidebar {
    width: 100%;
    flex-direction: row;
    align-items:center;
    height: 100%
  }

  .profile-nav{
    padding-left: 20px;
  }
  .user-info {
    width: 58%;
    margin-top: 15px;
  }

  .profile-nav {
    width: 60%;
  }
} font-weight: 600;
  line-height: normal;
  cursor:pointer;
}
.nav-title:hover{
  color: orange;
  transform: scale(1.2);
}
.nav-title:active{
  color:rgb(3, 74, 14);
  transform: scale(1.2);
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 0px;
}

.nav-link {
  display: block;
  color: #4c704d;
  text-decoration: none;
  font-weight: 400;
  margin-top: 16px;
}

.nav-link:hover{
  color: orange;
  transform: scale(1.2);
}
.nav-link:active{
  color: rgb(3, 74, 14);
  transform: scale(1.2);
}


.manage{
  margin-top: 16px;
  color: #4c704d;
  font-family: Literata;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.logout {
  margin-top: 30px;
  color: #4c704d;
  font-family: Literata;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


 /* Ẩn nav-list trên màn hình nhỏ */

@media (max-width: 700px) {


  .hidden {
    display: none;
  }
  .sidebar {
    width: 100%;
    flex-direction: row; /* Đặt các phần tử theo hàng ngang */
    align-items:center;
    height: 100%
  }

  .profile-nav{
    padding-left: 20px;
  }
  .user-info {
    width: 58%; /* Điều chỉnh kích thước của user-info */
    margin-top: 15px;
  }

  .profile-nav {
    width: 60%; /* Điều chỉnh kích thước của profile-nav */
  }

}

