

:host {
  display: contents;
}

.profile-page {
  border-radius: 0;
}

.profile-container {
  display: flex;
  gap: 70px;
  margin-left: 97px;
  margin-top: 71px;

}


.main-content {
  width: 70%;
  height: fit-content;
  margin-left: 20px;
  background-color: #fff;
  border-radius: 10px;
  padding: 27px 45px;
  color: #4c704d;
  font: 16px Literata, sans-serif;
  border: 1px solid #4caf50;
}


.page-title {
  color: #4caf50;
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}

.page-description {
  font-weight: 400;
  margin-top: 17px;
}

.divider {
  margin: 10px 0;
  border: 1px solid #7b7f80;
  width: 100%;
  height: 1px;
  background: #4c704d;
}

.profile-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 14px;
  flex-wrap: wrap;
}

.details-container {
  display: flex;
  gap: 31px;
  margin-top: 11px;
}

.labels p{
  margin: 0 0 37px;
}

.labels p {
  font-weight: 700;

}

.values p {
  font-weight: 400;
}

.user-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 991px) {
  .main-content {
    width: 100%;
    margin-top: 40px;
    padding: 20px;
  }
}


.edit-button {
  background-color: #4caf50;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  padding: 10px 17px;
  margin: 35px 0 0 242px;
  cursor: pointer;
}
/* profile.component.css */
.edit-button {
  background-color: #4caf50;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  padding: 10px 17px;
  margin: 35px 0 0 242px;
  cursor: pointer;
}


@media (max-width: 700px) {
  .edit-button {
    margin: 30px auto 0; /* căn giữa nút bằng cách sử dụng auto */
    display: block; /* đảm bảo nút là phần tử khối */
  }
  .profile-container {
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
    gap: 0px;
    margin-top: 10px;
    align-self:  center;
  }


.main-content {
  width:fit-content;
  height: fit-content;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;

}
}
@media (max-width: 767px) {
  .col-md-4.labels {
    display: none; /* Ẩn toàn bộ thẻ div khi màn hình nhỏ hơn 767px */
  }
}
