<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="login-container">
    <div class="login-box">
      <h2>Đăng nhập</h2>
      <form>
        <div class="form-group">
          <input type="text" placeholder="Email/ Số điện thoại" />
        </div>
        <br />
        <div class="form-group">
          <input type="password" placeholder="Mật khẩu"  />
        </div>
        <a [routerLink]="'/passwordauthentication'" class="forgot-password">Quên mật khẩu?</a>
        <button type="button" class="login-button"><a [routerLink]="'/homepage'">Đăng Nhập</a></button>

      </form>
      <p class="register-text">
        Bạn mới biết đến GreenFurni? <a [routerLink]="'/register'" class="register-link"><strong>Đăng ký</strong></a>
    </div>
  </div>
</body>
</html>
