<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GreenFurni - Nội Thất Xanh</title>

</head>
<body>
    <div class="container">
        <img loading="lazy" src="../../assets/Images/banner1.png" class="hero-image"/>
        
       <main class="main-content">
          <h1 class="welcome-title">Chào mừng đến với GreenFurni</h1>
          <p class="welcome-description">
            GreenFurni là một công ty chuyên kinh doanh nội thất tái chế, với mục tiêu góp phần bảo vệ môi trường. Được thiết kế và sản xuất thủ công tại xưởng ở Thành phố Hồ Chí Minh, GreenFurni không chỉ mang đến những sản phẩm bền đẹp mà còn truyền tải thông điệp về sự bền vững và ý thức bảo vệ môi trường trong từng sản phẩm.
          </p>

          <h2 class="featured-products-title">SẢN PHẨM NỔI BẬT</h2>
          <div class="scrollable">
          <div class="product-grid">
            <div class="product-row">
              <div class="product-column">
                <article class="product-card">
                  <img loading="lazy" src="../../assets/Images/Artificial_stone_table.png" class="product-image" alt="Bàn giả đá từ nhựa tái chế" />
                  <h3 class="product-title">Bàn giả đá từ nhựa tái chế
                  </h3>
                  <p class="product-price">
                    <span>400.000đ</span>
                  </p>
                </article>
              </div>
              <div class="product-column">
                <article class="product-card">
                  <img loading="lazy" src="../../assets/Images/ladderback_chair.png" class="product-image" alt="Ghế tựa từ nhựa tái chế" />
                  <h3 class="product-title">Ghế tựa từ nhựa tái chế
                  </h3>
                  <p class="product-price">
                    <span> 250.000đ
                    </span>
                  </p>
                </article>
              </div>
              <div class="product-column">
                <article class="product-card">
                  <img loading="lazy" src="../../assets/Images/Circle_table.png" class="product-image" alt="Bàn ăn tròn ngoài trời bằng nhựa tái chế" />
                  <h3 class="product-title">Bàn ăn tròn ngoài trời <br/> bằng nhựa tái chế</h3>
                  <p class="product-price" style="margin-top: -7px;">
                    <span>550.000đ</span>
                  </p>
                </article>
              </div>
              <div class="product-column">
                <article class="product-card">
                  <img loading="lazy" src="../../assets/Images/Artificial_stone_furniture.png" class="product-image" alt="Bộ bàn ghế giả đá từ nhựa tái chế" />
                  <h3 class="product-title">Bộ bàn ghế giả đá từ nhựa tái chế
                  </h3>
                  <p class="product-price">
                    <span>2.500.000đ</span>
                  </p>
                </article>
              </div>
            </div>
          </div>
        </div>
          
          <h2 class="brand-story-title">CÂU CHUYỆN THƯƠNG HIỆU</h2>
          <div class="brand-story-content">
            <div class="brand-story-row">
              <div class="brand-story-image-column">
                <img loading="lazy" src="../../assets/Images/brand_story_image.jpg" class="brand-story-image" alt="GreenFurni brand story" />
              </div>
              <div class="brand-story-text-column">
                <p class="brand-story-text">
                  GreenFurni là một công ty chuyên kinh doanh nội thất tái chế, với mục tiêu góp phần bảo vệ môi trường. Được thiết kế và sản xuất thủ công tại xưởng ở Thành phố Hồ Chí Minh, GreenFurni không chỉ mang đến những sản phẩm bền đẹp mà còn truyền tải thông điệp về sự bền vững và ý thức bảo vệ môi trường trong từng sản phẩm.
                </p>
              </div>
            </div>
          </div>
          
          <h2 class="latest-news-title">TIN TỨC MỚI NHẤT</h2>
          <div class="scrollable">
          <div class="news-grid">
            <div class="news-row">
              <div class="news-column">
                <article class="news-card">
                  <img loading="lazy" src="../../assets/Images/news1.png" class="news-image" alt="News article" />
                  <div class="news-divider"></div>
                  <h3 class="news-title">Tất tần tật thứ 
                    <br/>từ nhựa tái chế</h3>
                </article>
              </div>
              <div class="news-column">
                <article class="news-card">
                  <img loading="lazy" src="../../assets/Images/news2.png" class="news-image" />
                  <div class="news-divider"></div>
                  <h3 class="news-title">Tái chế rác thải nhựa, 
                    <br/>bảo vệ môi trường, 
                    <br/>tại sao không?</h3>
                </article>
              </div>
              <div class="news-column">
                <article class="news-card">
                  <img loading="lazy" src="../../assets/Images/news3.png" class="news-image" />
                  <div class="news-divider"></div>
                  <h3 class="news-title">Khám phá quy trình 
                    <br/>sản xuất phụ kiện
                    <br/>từ nhựa</h3>
                </article>
              </div>
            </div>
          </div>
          </div>
          

              <h2 class="process-title">QUY TRÌNH TÁI CHẾ</h2>
            
            <section class="recycling-process">
            <div class="process-column">
              <div class="process-step">
                <img src="../../assets/Images/Rectangle 96.png" class="process-image">
                <p class="process-description">
                  Thu gom rác thải nhựa
                   <br /> và phân loại phù hợp
                </p>
              </div>
            </div>

            <div class="process-column">
              <div class="process-step">
                <img src="../../assets/Images/Rectangle 97.png" />
                <p class="process-description">
                  Làm sạch bằng các chất không hại <br /> môi trường hay sức khoẻ
                </p>
              </div>
            </div>
            
            <div class="process-column">
              <div class="process-step">
                <img src="../../assets/Images/Rectangle 98.png" />
                <p class="process-description">
                  Xử lý nhựa thô thành hạt nhựa <br /> để tiến hành sản xuất sản phẩm
                </p>
              </div>
            </div>
          </section>
          
          <section class="faq-section">
            <h2 class="faq-title">CÂU HỎI THƯỜNG GẶP</h2>
            <div class="faq-divider"></div>
          
            <div class="faq-item" *ngFor="let question of faqQuestions; let i = index">
              <h3 class="faq-question" (click)="toggleAnswer(i)">
                {{ question.question }}
                <img src="../../assets/Images/chevron.right.svg" class="faq-icon" [class.active]="selectedQuestion === i" />
              </h3>
          
              <!-- Phần câu trả lời sẽ hiển thị hoặc ẩn khi nhấp vào câu hỏi -->
              <div class="faq-answer" *ngIf="selectedQuestion == i">
                <p>{{ question.answer }}</p>
              </div>
          
              <div class="faq-divider"></div>
            </div>
          </section>          
        </main>
    </div>
</body>
</html>

