<main class="voucher-page">
  <div class="content-wrapper">
    <app-sidebar></app-sidebar>
    <section class="main-content">
      <header class="content-header">
        <h1 class="page-title">KHO VOUCHER</h1>
        <p class="page-description">Quản lý các voucher, mã ưu đãi của bạn tại đây</p>
      </header>
      <hr class="divider"/>
      <!-- <form class="voucher-form">
        <label for="voucherInput" class="voucher-label">Nhập mã Voucher</label>
        <input type="text" id="voucherInput" class="voucher-input" placeholder="Enter voucher code">
        <button type="submit" class="save-button">Lưu</button>
      </form> -->
      <form class="voucher-form" (submit)="validateVoucher($event)">
        <label for="voucherInput" class="voucher-label">Nhập mã Voucher</label>
        <input type="text" id="voucherInput" class="voucher-input" placeholder="Enter voucher code" maxlength="10">
        <button type="submit" class="save-button">Lưu</button>
      </form>
      <p *ngIf="voucherError" class="error-message mt-2 ">Mã voucher của quý khách không hợp lệ, vui lòng nhập mã khác!</p>

      <div class="voucher-grid">
        <article class="voucher-card">
          <img src="https://cdn.builder.io/api/v1/image/assets/9a41a64b9b654c8b8e55e1e605f3b81b/943a16eb11214abaaba8c6058011aef755d33eaca7daa6382da538ffc459b133?apiKey=9a41a64b9b654c8b8e55e1e605f3b81b&" alt="Voucher image" class="voucher-image">
          <div class="voucher-details">
            <div class="voucher-header">
              <button class="use-now-button">Dùng ngay</button>
              <img src="https://cdn.builder.io/api/v1/image/assets/9a41a64b9b654c8b8e55e1e605f3b81b/463c3d130252bb7be5bc13d0fe24e16744552fe1cd549b999227e9d02a2380f8?apiKey=9a41a64b9b654c8b8e55e1e605f3b81b&" alt="" class="decorative-icon">
            </div>
            <p class="voucher-description">Giảm 10% <br> Đơn tối thiểu 500k - Giảm tối đa 100k</p>
            <div class="voucher-footer">
              <p class="expiry-notice">Sắp hết hạn: Còn 2 ngày</p>
              <!-- <a href="#terms" class="terms-link">Điều kiện</a> -->
              <a href="javascript:void(0);" class="terms-link" (click)="openPopup()">Điều kiện</a>
            </div>
          </div>


        </article>
        <article class="voucher-card">
          <img src="https://cdn.builder.io/api/v1/image/assets/9a41a64b9b654c8b8e55e1e605f3b81b/943a16eb11214abaaba8c6058011aef755d33eaca7daa6382da538ffc459b133?apiKey=9a41a64b9b654c8b8e55e1e605f3b81b&" alt="Voucher image" class="voucher-image">
          <div class="voucher-details">
            <div class="voucher-header">
              <button class="use-now-button">Dùng ngay</button>
              <img src="https://cdn.builder.io/api/v1/image/assets/9a41a64b9b654c8b8e55e1e605f3b81b/490c7eddec2387e018558dbb3eea2d753367ace92aee1c1c94e50b80b020a100?apiKey=9a41a64b9b654c8b8e55e1e605f3b81b&" alt="" class="decorative-icon">
            </div>
            <p class="voucher-description">Giảm 8% <br> Đơn tối thiểu 500k - Giảm tối đa 100k</p>
            <div class="voucher-footer">
              <p class="expiry-notice">Sắp hết hạn: Còn 2 ngày</p>
              <a href="javascript:void(0);" class="terms-link" (click)="openPopup()">Điều kiện</a>
            </div>
          </div>
        </article>
        <article class="voucher-card">
          <img src="https://cdn.builder.io/api/v1/image/assets/9a41a64b9b654c8b8e55e1e605f3b81b/943a16eb11214abaaba8c6058011aef755d33eaca7daa6382da538ffc459b133?apiKey=9a41a64b9b654c8b8e55e1e605f3b81b&" alt="Voucher image" class="voucher-image">
          <div class="voucher-details">
            <div class="voucher-header">
              <button class="use-now-button">Dùng ngay</button>
              <img src="https://cdn.builder.io/api/v1/image/assets/9a41a64b9b654c8b8e55e1e605f3b81b/463c3d130252bb7be5bc13d0fe24e16744552fe1cd549b999227e9d02a2380f8?apiKey=9a41a64b9b654c8b8e55e1e605f3b81b&" alt="" class="decorative-icon">
            </div>
            <p class="voucher-description">Giảm 5% <br> Đơn tối thiểu 500k - Giảm tối đa 50k</p>
            <div class="voucher-footer">
              <p class="expiry-notice">Sắp hết hạn: Còn 2 ngày</p>
              <a href="javascript:void(0);" class="terms-link" (click)="openPopup()">Điều kiện</a>
            </div>
          </div>
        </article>
        <article class="voucher-card">
          <img src="https://cdn.builder.io/api/v1/image/assets/9a41a64b9b654c8b8e55e1e605f3b81b/943a16eb11214abaaba8c6058011aef755d33eaca7daa6382da538ffc459b133?apiKey=9a41a64b9b654c8b8e55e1e605f3b81b&" alt="Voucher image" class="voucher-image">
          <div class="voucher-details">
            <div class="voucher-header">
              <button class="use-now-button">Dùng ngay</button>
              <img src="https://cdn.builder.io/api/v1/image/assets/9a41a64b9b654c8b8e55e1e605f3b81b/463c3d130252bb7be5bc13d0fe24e16744552fe1cd549b999227e9d02a2380f8?apiKey=9a41a64b9b654c8b8e55e1e605f3b81b&" alt="" class="decorative-icon">
            </div>
            <p class="voucher-description">Giảm 3% <br> Đơn tối thiểu 500k - Giảm tối đa 30k</p>
            <div class="voucher-footer">
              <p class="expiry-notice">Sắp hết hạn: Còn 2 ngày</p>
              <a href="javascript:void(0);" class="terms-link" (click)="openPopup()">Điều kiện</a>
            </div>
          </div>
        </article>
      </div>
    </section>
  </div>

  <div *ngIf="isPopupVisible" class="popup-overlay">
    <div class="popup-content">
      <span class="close-btn " (click)="closePopup()">x</span>
      <p>
        Voucher có giá trị trong 30 ngày kể từ ngày phát hành. Áp dụng cho đơn hàng tối thiểu 500,000 VND.
        Không áp dụng chung với các chương trình khuyến mãi khác. Mỗi khách hàng chỉ được sử dụng một voucher
        cho mỗi giao dịch và không thể chuyển nhượng. Voucher không có giá trị quy đổi thành tiền mặt hoặc hàng hóa khác.
        Điều khoản và điều kiện có thể thay đổi mà không cần thông báo trước.
      </p>
    </div>
  </div>
</main>
