<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt mật khẩu mới</title>
</head>
<body>
    <div class="login-container">
        <div class="login-box">
          <h2>Nhập mật khẩu mới</h2>
          <br />
          <div class="form-group">
            <input
              type="password"
              placeholder="Mật khẩu"
            />
          </div>
          <br />
          <div class="form-group">
            <input
              type="password"
              placeholder="Xác nhận mật khẩu"
            />
          </div>
          <br />
          <button class="newpassword-button"><a [routerLink]="'/login'" class="newpassword-link">Xác Nhận</a></button>
        </div>
      </div>
      
</body>
</html>
