<aside class="sidebar mt-5 mb-5">
  <div class="user-info">
    <img src="../../assets/Images/about/image.png" alt="User profile picture" class="profile-picture" />
    <h2 class="user-name">Doraemon</h2>
  </div>
  <nav class="profile-nav">
    <h3 class="nav-title"  (click)="toggleAccountInfo()">Thông tin tài khoản</h3>
    <ul class="nav-list"  [class.hidden]="!isAccountInfoVisible">
      <li><a href="#profile" class="nav-link">Hồ sơ</a></li>
      <li><a href="#address" class="nav-link">Địa chỉ</a></li>
      <li><a href="#vouchers" class="nav-link">Kho Voucher</a></li>
    </ul>
    <a href="#manage" class="nav-link manage">Quản lý đơn hàng</a>
    <a href="#logout" class="nav-link logout">Đăng xuất</a>
  </nav>
</aside>
