<main class="policy-page">
  <section class="policy-content">
    <div class="sidebar">
      <h2>DANH MỤC TRANG</h2>
      <hr style="border: 1px solid #4caf50; width: 100%" />
      <ul>
        <li>CHÍNH SÁCH BÁN HÀNG</li>
        <li>CHÍNH SÁCH BẢO MẬT</li>
        <li>ĐIỀU KHOẢN DỊCH VỤ</li>
        <li>ĐIỀU KHOẢN ĐỔI TRẢ</li>
      </ul>
    </div>
    <article class="policy-details">
      <h1 class="policy-title">CHÍNH SÁCH BÁN HÀNG</h1>
      <h2 class="policy-subtitle">1. Giá cả:</h2>
      <p class="policy-text">
        Giá sản phẩm niêm yết trên website là giá đã bao gồm thuế theo quy định
        pháp luật hiện hành, phí đóng gói và các chi phí khác liên quan đến việc
        mua hàng trừ các chi phí phát sinh khác được xác nhận qua Hotline hoặc
        Email của GreenFurni và được sự chấp thuận của khách hàng trong quá
        trình xác nhận đơn đặt hàng, giao nhận hàng hoá.
      </p>
      <h2 class="policy-subtitle">2. Phí vận chuyển:</h2>
      <p class="policy-text"></p>
      <ul>
        <li>Với hóa đơn từ 500.000 VNĐ: miễn phí vận chuyển toàn quốc.</li>
        <li>
          Với hóa đơn dưới 500.000 VNĐ: phí vận chuyển mặc định là 30.000 VNĐ áp
          dụng toàn quốc.
        </li>
      </ul>
      <h2 class="policy-subtitle">3. Thời gian giao hàng:</h2>
      <p class="policy-text"></p>
      <ul>
        <li>Khu vực TP.HCM: thời gian giao nhận hàng từ 1 – 3 ngày làm việc</li>
        <li>
          Khu vực các tỉnh thành miền Nam: thời gian giao nhận hàng từ 2 – 4
          ngày làm việc
        </li>
        <li>
          Khu vực các tỉnh thành miền Trung, miền Bắc: thời gian giao nhận hàng
          từ 3 – 5 ngày làm việc.
        </li>
      </ul>
      <h2 class="policy-subtitle">4. Quy trình giao nhận sản phẩm:</h2>
      <p class="policy-text"></p>
      <ul>
        <li>
          GreenFurni sẽ giao hàng tận nơi trên toàn quốc, áp dụng cho khách mua
          hàng trên Website, Fanpage. Đơn hàng sẽ được chuyển phát đến địa chỉ
          khách hàng cung cấp thông qua đơn vị vận chuyển trung gian là GIAO
          HÀNG TIẾT KIỆM hoặc 247EXPRESS.
        </li>
        <li>
          Trong quá trình giao nhận hàng, nếu quý khách không có mặt trong đợt
          nhận hàng thì đơn vị vận chuyển sẽ liên lạc lại với quý khách để hẹn
          thời gian giao lại hàng (đối đa 2 lần hẹn). Sau 2 lần hẹn giao lại
          nhưng vẫn không giao thành công thì đơn vị vận chuyển sẽ hoàn hàng về
          cho GreenFurni và chúng tôi sẽ hoàn trả các chi phí mà bạn đã thanh
          toán trong vòng 15 ngày làm việc.
        </li>
        <li>
          Trường hợp việc giao và nhận hàng không thành công do không thể liên
          lạc được với quý khách trong vòng 3 ngày, đơn vị vận chuyển sẽ hoàn
          hàng về lại cho GreenFurni và chúng tôi sẽ thông báo đến bạn qua thông
          tin liên lạc mà bạn đã cung cấp về việc hủy đơn hàng đồng thời hoàn
          trả các chi phí mà bạn đã thanh toán trong vòng 15 ngày làm việc.
        </li>
      </ul>
    </article>
  </section>
</main>
