<div class="wrapper">

    <main class="main-content">

        <section class="section-space">
            <div class="container">
                <h3>GIỎ HÀNG</h3>
                <div class="shopping-cart-form table-responsive">
                    <form action="#" method="post">
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th class="product-remove">Xóa</th>
                                    <th class="product-thumbnail">Sản phẩm</th>
                                    <th class="product-name">&nbsp;</th>
                                    <th class="product-price">Giá</th>
                                    <th class="product-quantity">Số lượng</th>
                                    <th class="product-subtotal">Tổng</th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr class="tbody-item" *ngFor="let item of cartItems">
                                    <td class="product-remove">
                                        <a class="remove" (click)="removeItemFromCart(userId, item.id)">×</a>
                                    </td>
                                    <td class="product-thumbnail">
                                        <div class="thumb">
                                            <img [src]="getProductImage(item.id)" alt="Hình sản  phẩm" width="100" height="100" alt="Image-Loading">


                                        </div>
                                    </td>
                                    <td class="product-name">
                                        <p class="title" href="#">{{ item.name }}
                                        </p><br>

                                        <a class="type minitext">Phân loại: {{ item.category1 ? item.category1 :
                                            item.category2 }}</a>
                                    </td>
                                    <td class="product-price">
                                        <span class="price">{{ item.price }}.000 đ</span>
                                    </td>
                                    <td class="product-quantity">

                                        <div class="pro-qty p-fluid">
                                            <p-inputNumber name="{{'quantity_' + item.id}}" mode="decimal" min="1" max="1000" type="number" [(ngModel)]="item.quantity" (onInput)="updateCartItemQuantity($event, item )">
                                            </p-inputNumber>
                                        </div>

                                    </td>

                                    <td class="product-subtotal">
                                        <span class="">{{ item.subtotal }}.000 đ</span>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="row">

                    <div class="coupon-wrap">
                        <h4 class="title">Mã giảm giá</h4>
                        <p class="desc">Nhập mã giảm giá (nếu có)</p>
                        <input type="text" class="form-control" placeholder="Nhập mã giảm giá" [(ngModel)]="voucherCode" />
                        <button type="button" class="btn-coupon" (click)="applyVoucher()">Áp dụng</button>
                    </div>

                    <div class="cart-totals-wrap">
                        <h2 class="title">Tổng giỏ hàng</h2>
                        <table>
                            <tbody>
                                <tr class="cart-subtotal">
                                    <th>Tổng sản phẩm</th>
                                    <td>
                                        <span class="amount">{{ calculateOrderTotal()}}.000 đ</span>
                                    </td>
                                </tr>
                                <tr class="coupon-totals" *ngIf="discountInfo">
                                    <th>Giảm giá</th>
                                    <td>
                                        <span class="amount"> {{ calculateOrderTotal() * (+discountInfo.valuecode /
                                                100) }}.000 đ</span>
                                    </td>
                                </tr>
                                <!-- Display shipping fee -->
                                <tr class="shipping-totals">
                                    <th>Phí vận chuyển</th>
                                    <td>
                                        <span class="shipping-fee">
                                                {{
                                                voucherCode === 'MIENPHIVANCHUYEN'
                                                ? '0.000 đ'
                                                : '25.000 đ'
                                                }}
                                            </span>



                                    </td>
                                </tr>
                                <!-- Display order total after applying discount and adding 25 -->
                                <!-- Display order total with conditional shipping fee -->
                                <tr class="order-total">
                                    <th>Tổng cộng</th>
                                    <td>
                                        <span class="amount">
                                                {{
                                                discountInfo
                                                ? (calculateOrderTotal() * (1 - +discountInfo.valuecode / 100)) +
                                                (voucherCode === 'MIENPHIVANCHUYEN' ? 0 : 25)
                                                : calculateOrderTotal() + (voucherCode === 'MIENPHIVANCHUYEN' ? 0 : 25)
                                                }}.000 đ
                                            </span>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                        <div class="text-end">
                            <a class="checkout-button" (click)="goToCheckout()">Tiếp tục thanh toán</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
</div>